
@import "../../css/colors.css";
@media (min-width: 768px) and (max-width: 1024px) {
    .total{
        width: 100%;
        /* // background: '#98F5FF', */
        border-radius: 8px;
        /* // overflow: 'hidden', */
        /* // maxHeight: '40vh',           */
        overflow-y: auto;          
        box-sizing: border-box;   
        padding-top:10px;
        height:40vh;
        /* height:80% */
    }
}

@media (min-width: 1025px) {
    .total{
        width: 100%;
        /* // background: '#98F5FF', */
        border-radius: 8px;
        /* // overflow: 'hidden', */
        /* // maxHeight: '40vh',           */
        overflow-y: auto;          
        box-sizing: border-box;   
        padding-top:10px;
        height:32vh;
        /* // height:'80%', */
    }
}


.tabswitcher-tabs-equles{
    background-color: $tabswitcher-tabs-equles-true;
}
.tabswitcher-tabs-noequles{
    background-color: $tabswitcher-tabs-noequles-false;
}
.tabswitcher-programe-back{
    background-color: $tabswitcher-programe-back;
}
.tabswitcher-programe-down{
    background-color: $tabswitcher-programe-down-lightordark;
}
.tabswitcher-control-first{
    background-color: $tabswitcher-control-first-lightordark;
}
.tabswitcher-control-second{
    background-color: $tabswitcher-control-second-lightordark;
}
.tabswitcher-control-third{
    background-color: $tabswitcher-control-third-lightordark;
}
.tabswitcher-control-fourth{
    background-color: $tabswitcher-control-fourth-lightordark;
}
.tabswitcher-serial-first{
    background-color: $tabswitcher-serial-first-lightordark;
}
.tabswitcher-serial-second{
    background-color: $tabswitcher-serial-second-lightordark;
}